<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
  <a class="navbar-brand" routerLink="/courses" routerLinkActive="active" [routerLinkActiveOptions]="{  exact: true}">Home</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="navbar-brand" routerLink="/courses/1" routerLinkActive="active" [routerLinkActiveOptions]="{  exact: true}">Course</a> -->
      <a class="navbar-brand" routerLink="/players" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">Players</a>
    </div>
  </div>
</div>
</nav>

<router-outlet></router-outlet>